<main class="container">

    <section class="mx-3" id="sobre-mi">
        <div class="row">
            <div class="col-md-8">
                <h1 class="fw-bold mb-0" [innerHTML]="'label.home.about.hello' | translate">
                </h1>
                <p class="fs-5 mb-0 shiny-text shine-effect">{{ 'label.home.about.developer' | translate }}</p>

                <p class="fs-5 mt-5 mb-4" [innerHTML]="'label.home.about.presentation' | translate"></p>
            </div>
            <div class="col-md-4">
                <img src="/assets/images/retrato-min.webp" class="mx-auto d-block" alt="retrato-min.webp" width="100%"
                    height="auto">
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <a href="/assets/CV_RICARDO_HUARIPATA.pdf">
                <button class="btn btn-outline-primary">{{ 'label.home.about.resume' | translate }}</button>
            </a>

            <div class="d-flex justify-content-center gap-3">
                <app-github [href]="'https://github.com/ricardohuaripata'"
                    [title]="'label.social.github.title' | translate" [smallSize]="false"></app-github>

                <app-linkedin [smallSize]="false"></app-linkedin>

                <app-email></app-email>

            </div>

        </div>

    </section>

    <section class="" id="tecnologias">
        <div class="mx-3">
            <h2 class="fw-bold mb-3">{{ 'label.home.tech.title' | translate }}</h2>
            <p class="fs-5 mb-0" [innerHTML]="'label.home.tech.description' | translate"></p>
        </div>
        <app-technologies></app-technologies>
    </section>

    <section class="" id="proyectos">
        <div class="mx-3">
            <h2 class="fw-bold mb-3">{{ 'label.home.projects.title' | translate }}</h2>
            <p class="fs-5 mb-0" [innerHTML]="'label.home.projects.description' | translate"></p>
        </div>
        <app-projects></app-projects>
    </section>

    <section class="" id="contacto">
        <div class="mx-3 text-center">

            <h2 class="fw-bold mb-3">{{ 'label.home.contact.title' | translate }}</h2>
            <p class="fs-5 mb-0">{{ 'label.home.contact.description' | translate }}</p>

            <div class="mt-4 d-flex justify-content-center gap-3">
                <app-github [href]="'https://github.com/ricardohuaripata'"
                    [title]="'label.social.github.title' | translate" [smallSize]="false"></app-github>

                <app-linkedin [smallSize]="false"></app-linkedin>

                <app-email></app-email>

            </div>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 border text-bg-light rounded">
                    <form [formGroup]="form" class="mx-3 my-4" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="name" [placeholder]="'label.home.contact.form.name' | translate"
                                formControlName="name" autocomplete="name"
                                [ngClass]="{ 'is-invalid': form.get('name')!.invalid && this.submited }">
                            <div *ngIf="form.get('name')!.hasError('required')" class="invalid-feedback">{{ 'label.home.contact.form.required.field' | translate }}</div>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="email" [placeholder]="'label.home.contact.form.email' | translate"
                                formControlName="email" autocomplete="email"
                                [ngClass]="{ 'is-invalid': form.get('email')!.invalid && this.submited }">
                            <div *ngIf="form.get('email')!.hasError('required')" class="invalid-feedback">
                                {{ 'label.home.contact.form.required.field' | translate }}
                            </div>
                            <div *ngIf="form.get('email')!.hasError('invalidEmail')" class="invalid-feedback">
                                {{ 'label.home.contact.form.invalid.email' | translate }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="subject" [placeholder]="'label.home.contact.form.subject' | translate"
                                formControlName="subject"
                                [ngClass]="{ 'is-invalid': form.get('subject')!.invalid && this.submited }">
                            <div *ngIf="form.get('subject')!.hasError('required')" class="invalid-feedback">
                                {{ 'label.home.contact.form.required.field' | translate }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control" id="message" [placeholder]="'label.home.contact.form.message' | translate" rows="5"
                                formControlName="message"
                                [ngClass]="{ 'is-invalid': form.get('message')!.invalid && this.submited }"></textarea>
                            <div *ngIf="form.get('message')!.hasError('required')" class="invalid-feedback">
                                {{ 'label.home.contact.form.required.field' | translate }}
                            </div>
                        </div>

                        <button class="btn btn-primary btn-md fw-bold w-100" type="submit" [disabled]="this.loading">
                            {{ 'label.home.contact.form.submit' | translate }}</button>
                    </form>

                    <div class="alert alert-success" role="alert" *ngIf="this.successSubmit">
                        <h5 class="alert-heading">{{ 'label.home.contact.form.submitted.alert.title' | translate }}</h5>
                        <p class="my-0">{{ 'label.home.contact.form.submitted.alert.text' | translate }}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>