<nav class="navbar navbar-expand-md navbar-dark fixed-top py-2" aria-label="navbar">
    <div class="container">
        <a class="navbar-brand p-0" [routerLink]="['/']">
            <img src="/assets/images/logo.png" alt="ricardohuaripata.com" width="48px" height="48px">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar10"
            aria-controls="navbar10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around text-center" id="navbar10">
            <ul class="navbar-nav overflow-hidden">
                <li class="nav-item py-2 mx-3">
                    <a [routerLink]="['/']" fragment="sobre-mi" class="navbar-link">{{ 'label.navbar.about' | translate }}</a>
                </li>
                <li class="nav-item py-2 mx-3">
                    <a [routerLink]="['/']" fragment="tecnologias" class="navbar-link">{{ 'label.navbar.tech' | translate }}</a>
                </li>
                <li class="nav-item py-2 mx-3">
                    <a [routerLink]="['/']" fragment="proyectos" class="navbar-link">{{ 'label.navbar.projects' | translate }}</a>
                </li>
                <li class="nav-item py-2 mx-3">
                    <a [routerLink]="['/']" fragment="contacto" class="navbar-link">{{ 'label.navbar.contact' | translate }}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item py-2 mx-2">
                    <app-github [href]="'https://github.com/ricardohuaripata'"
                        [title]="'label.social.github.title' | translate" [smallSize]="true"></app-github>
                </li>
                <li class="nav-item py-2 mx-2">
                    <app-linkedin [smallSize]="true"></app-linkedin>

                </li>
                <li class="nav-item py-2 mx-2">
                    <select (change)="changeLanguage($event)">
                        <option value="es">Español</option>
                        <option value="en">English</option>

                    </select>

                </li>
            </ul>
        </div>

    </div>
</nav>