nav {
  background-color: var(--brand-secondary);
}

.navbar-link {
  color: #e2e8f0;
  display: inline-block;
  position: relative;
}

.navbar-link::before {
  transition: 400ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: var(--brand-main);
}

.navbar-link::before {
  width: 0%;
  bottom: 0;
}

.navbar-link:hover::before {
  width: 100%;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  padding: 4px;
}