@if (this.project) {
<main class="container my-5">

    <section class="mb-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <img [src]="this.project.thumbnail" class="img-card-project rounded" [alt]="this.project.title"
                    width="100%" height="auto">

            </div>
            <div class="col-md-8 mb-4">
                <div class="mx-3 d-flex flex-column h-100">
                    <h1 class="shiny-title fw-bold">{{project.title}}</h1>
                    <div class="d-flex align-items-center mb-4"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" height="1em" width="1em" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5">
                            </path>
                        </svg>
                        <small class="ms-2">{{project.startDate}} - {{project.endDate}}</small>
                    </div>

                    <div class="mt-auto d-flex align-items-center">
                        <a class="d-flex align-items-center" [href]="project.githubRepoUrl" target="_blank">
                            <p class="mb-0 me-2">{{ 'label.project.visit.github' | translate }}</p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="1em"
                                width="1em" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <div class="mx-3">
            <h3 class="shiny-title fw-bold mb-3">{{ 'label.project.description.title' | translate }}</h3>
            <p class="mb-0" [innerHTML]="project.description! | translate"></p>

        </div>

    </section>

    <section class="mb-5">
        <div class="mx-3">
            <h3 class="shiny-title fw-bold mb-3">{{ 'label.project.gallery.title' | translate }}</h3>
        </div>

        <app-photo-gallery [images]="project.gallery!"></app-photo-gallery>

        <swiper-container navigation="true">
            @for (video of project.videos; track video) {

            <swiper-slide>
                <div class="ratio ratio-16x9">
                    <video preload="none" controls [poster]="video.thumbnail">
                        <source [src]="video.link" type="video/mp4">
                        Tu navegador no soporta el tag de video.
                    </video>
                </div>
            </swiper-slide>
            }

        </swiper-container>

    </section>

    <section class="mb-5">
        <div class="mx-3">
            <h3 class="shiny-title fw-bold mb-3">{{ 'label.project.features.title' | translate }}</h3>
            <div [innerHTML]="project.features! | translate"></div>

        </div>

    </section>

    <section class="mb-5">
        <div class="mx-3">
            <h3 class="shiny-title fw-bold mb-3">{{ 'label.project.tech.title' | translate }}</h3>
        </div>

        <table>
            <thead>
                <tr class="text-center">
                    <th scope="col" class="px-3 py-2">{{ 'label.project.tech.table.title' | translate }}</th>
                    <th scope="col" class="px-3 py-2">{{ 'label.project.tech.table.usage' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                @for (tech of project.techStack; track tech) {
                <tr>
                    <td class="text-center px-3 py-2">{{tech.name}}</td>
                    <td class="px-3 py-2"><small>{{tech.description | translate}}</small></td>
                </tr>
                }

            </tbody>
        </table>

    </section>

    <section class="mb-5">
        <div class="mx-3">
            <h3 class="shiny-title fw-bold mb-3">Tags</h3>
            <ul class="tags-ul">
                @for (tag of project.tags; track tag) {
                <li class="tag-li border rounded"><small>{{tag}}</small></li>
                }
            </ul>
        </div>

    </section>

</main>
}