<a href="mailto:ricardohuaripatabellido@gmail.com" target="_blank" [title]="'label.social.email.title' | translate"
    rel="noopener noreferrer">
    <svg viewBox="0 -2.5 20 20" height="1.5em" width="1.5em" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">

        <g stroke="none" fill="#e2e8f0" stroke-width="0" fill-rule="evenodd">
            <g id="Dribbble-Light-Preview" transform="translate(-300.000000, -922.000000)">
                <g transform="translate(56.000000, 160.000000)">
                    <path
                        d="M262,764.291 L254,771.318 L246,764.281 L246,764 L262,764 L262,764.291 Z M246,775 L246,766.945 L254,773.98 L262,766.953 L262,775 L246,775 Z M244,777 L264,777 L264,762 L244,762 L244,777 Z">
                    </path>
                </g>
            </g>
        </g>
    </svg>
</a>