:root {
  --brand-main: #3ec2ff;
  --brand-secondary: #030b1a;
  --brand-tertiary: #8bf2ff;
}

$primary: #3ec2ff;
$secondary: #02061a;
$success: #14a800;

@import "../node_modules/bootstrap/scss/bootstrap";

::selection {
  background-color: var(--brand-main);
  color: #000000; /* Para cambiar el color del texto cuando está seleccionado */
}

.container {
  max-width: 950px;
}

body {
  padding-top: 65px;
  background: var(--brand-secondary);
  color: #e2e8f0;
}

.shiny-title {
  color: var(--brand-main);
}

.shiny-text {
  color: var(--brand-tertiary);
}

.transparent-background {
  background-color: rgba(0, 14, 39, 0.397);
  backdrop-filter: blur(15px);
}

.brand-text {
  font-weight: 900;
}

.custom-padding-top {
  padding-top: 72px;
}

.tags-ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-li {
  list-style: none;
  padding: 0.2rem 0.6rem;
}

.shine-effect {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  background: var(--brand-main);
  border-radius: 5px;
}

@media (max-width: 470px) {
  .skill-icon {
    width: 70%;
  }
  .responsive-text {
    font-size: small;
  }
}

@media (max-width: 280px) {
  .responsive-text {
    font-size: 4vw;
  }
}

.box-background {
  background: rgb(0, 7, 32);
  background: linear-gradient(90deg, rgb(1, 10, 43) 0%, rgb(0, 0, 0) 100%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.img-card-project {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
}
